{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/2 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">{{ last_closing_price }} {{ currency }}</h2>
        <p class="leading-relaxed">Last Closing Price</p>
      </div>
      <div class="p-4 sm:w-1/2 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl {{ change_color }}">{{ change_pct }} %</h2>
        <p class="leading-relaxed">Change in %</p>
      </div>
    </div>
  </div>
</section>

<br>

<canvas id="myChart"></canvas>

<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'line',
		// The data for our dataset
		data: {
			labels: {{ date_list|safe }},
			datasets: [{
				label: "\{{ symbol|safe }} on \{{ exchange|safe }} in \{{ currency|safe }}",
				backgroundColor: 'rgb(255, 140, 0, 0.3)',
				borderColor: 'rgb(255, 140, 0)',
				data: {{ closing_list|safe }},
			}]
		},
		// Configuration options go here
		options: {
		}
	});
</script>
{% endblock content %}